@import './variables';

.l-footer {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
    no-repeat;
  width: 100vw;
  margin-top: 30vh;
  color: white;
  text-align: center;
  padding: 40px;
  height: auto;
  @include centerFlexColumn(column);
  .f-content {
    font-size: large;
  }
}
