@import './variables';

.l-header {
  width: 100vw;
  @include animationGrad(20s);
  @include centerFlexColumn(column);
  background: $gradient;
  background-size: 300% 300%;
  color: white;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0 0 30px 30px;
}
.h_content {
  margin-top: 2vh;
  margin-bottom: 2vh;
  h1 {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
  }
}
.nav_content {
  margin-bottom: 4vh;
  #navmenu {
    cursor: unset;
    opacity: 0;
    transition: opacity 1750ms;
    will-change: opacity;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.3);
  }
}

.li_menu {
  display: inline;
  font-size: larger;
  font-weight: bold;
}
