@import './variables';

.l-main {
  @include centerFlexColumn(flex);
  flex-wrap: wrap;
  padding: 8rem;
  height: auto;
  min-width: 55vw;
  margin: 7vh auto 1vh auto;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: rgba(174, 217, 224, 0.5);
  margin-bottom: 20vh;
}

.s_content {
  @include centerFlexColumn(column);
  flex: 1;
  word-break: normal;
  background-color: #e73c7e;
  min-width: 280px;
  max-width: 280px;
  padding: 10px auto;
  min-height: 90px;
  margin: 2vh;
  border-radius: 20px;
  text-align: center;
  border: 3px dotted #e7723c;
  transition: height 1100ms, opacity 1300ms;
  will-change: height, opacity;
  //transition: opacity 1600ms;
  //will-change: opacity;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .reveal {
    justify-content: center;
    flex: -1;
    width: 100%;
    word-break: normal;
    transition: opacity 1000ms;
    will-change: opacity;
    padding: 2vh 2vw 2vh 2vw;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: white;
  }
  .hiddenSC {
    transition: opacity 1200ms;
    will-change: opacity;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    max-height: 100%;
    display: none;
    flex-direction: column;
    padding: 2vh;
    border-radius: 20px;
    color: white;
    i {
      font-size: larger;
      margin-bottom: 2vh;
    }
    p {
      flex: 1;
      width: 100%;
      max-height: 100%;
      align-self: flex-start;
    }
    .link_div {
      @include centerFlexColumn(flex);
      flex-wrap: nowrap;
      word-break: keep-all;
      background: #23a6d5;
      border-radius: 20px;
      transition: 1.5s;
      &:hover {
        @include animationGrad(12s);
        background: $gradient;
        background-size: 200% 200%;
      }
    }
    .h_a {
      width: auto;
      word-break: keep-all;
      font-weight: bold;
      color: white;
      align-self: center;
      transition: 1.2s;
    }
  }
}
#M-navmenu {
  color: #e73c7e;
  opacity: 1;
  display: flex;
  cursor: pointer;
  transition: opacity 1200ms;
  will-change: opacity;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.2),
    0px -4px 10px rgba(255, 255, 255, 0.1);
}
