@mixin centerFlexColumn($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
@mixin animationGrad($temp) {
  animation: gradient $temp ease infinite;
}
$gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;

/*                              Animações                                        */
@mixin fadeout($duration) {
  transition: opacity $duration;
  will-change: opacity;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes grow {
  0% {
    height: auto;
  }
  20% {
    height: 150px;
  }
  40% {
    height: 225px;
  }
  60% {
    height: 300px;
  }
  80% {
    height: 375px;
  }

  100% {
    height: 450px;
  }
}

.faded-out {
  opacity: 0;
}
.faded-in {
  opacity: 1;
}

.flexColumn {
  @include centerFlexColumn(column);
}
