@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
}

/*                              Animações                                        */
@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.faded-out {
  opacity: 0;
}

.faded-in {
  opacity: 1;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: inherit;
  padding: 1vw;
}

a:hover {
  font-size: 110%;
  text-decoration: underline;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Cabin', sans-serif;
  height: 100vh;
}

/*                            Estilização do Body                               */
/*                              Animações                                        */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.faded-out {
  opacity: 0;
}

.faded-in {
  opacity: 1;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header {
  width: 100vw;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
  color: white;
  height: auto;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0 0 30px 30px;
}

.h_content {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.h_content h1 {
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.nav_content {
  margin-bottom: 4vh;
}

.nav_content #navmenu {
  cursor: unset;
  opacity: 0;
  -webkit-transition: opacity 1750ms;
  transition: opacity 1750ms;
  will-change: opacity;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.li_menu {
  display: inline;
  font-size: larger;
  font-weight: bold;
}

/*                              Animações                                        */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.faded-out {
  opacity: 0;
}

.faded-in {
  opacity: 1;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8rem;
  height: auto;
  min-width: 55vw;
  margin: 7vh auto 1vh auto;
  -webkit-box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: rgba(174, 217, 224, 0.5);
  margin-bottom: 20vh;
}

.s_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-break: normal;
  background-color: #e73c7e;
  min-width: 280px;
  max-width: 280px;
  padding: 10px auto;
  min-height: 90px;
  margin: 2vh;
  border-radius: 20px;
  text-align: center;
  border: 3px dotted #e7723c;
  -webkit-transition: height 1100ms, opacity 1300ms;
  transition: height 1100ms, opacity 1300ms;
  will-change: height, opacity;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.s_content .reveal {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: -1;
      -ms-flex: -1;
          flex: -1;
  width: 100%;
  word-break: normal;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  will-change: opacity;
  padding: 2vh 2vw 2vh 2vw;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  color: white;
}

.s_content .hiddenSC {
  -webkit-transition: opacity 1200ms;
  transition: opacity 1200ms;
  will-change: opacity;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vh;
  border-radius: 20px;
  color: white;
}

.s_content .hiddenSC i {
  font-size: larger;
  margin-bottom: 2vh;
}

.s_content .hiddenSC p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-height: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.s_content .hiddenSC .link_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex;
          flex-direction: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  word-break: keep-all;
  background: #23a6d5;
  border-radius: 20px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.s_content .hiddenSC .link_div:hover {
  -webkit-animation: gradient 12s ease infinite;
          animation: gradient 12s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 200% 200%;
}

.s_content .hiddenSC .h_a {
  width: auto;
  word-break: keep-all;
  font-weight: bold;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

#M-navmenu {
  color: #e73c7e;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: opacity 1200ms;
  transition: opacity 1200ms;
  will-change: opacity;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(255, 255, 255, 0.1);
}

/*                              Animações                                        */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.faded-out {
  opacity: 0;
}

.faded-in {
  opacity: 1;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-footer {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  width: 100vw;
  margin-top: 30vh;
  color: white;
  text-align: center;
  padding: 40px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-footer .f-content {
  font-size: large;
}
/*# sourceMappingURL=style.css.map */