@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
}

@import './variables';

//                            Retirada de alguns estilos predefinidos e acrescimo de outros

a {
  color: inherit;
  padding: 1vw;
}
a:hover {
  font-size: 110%;
  text-decoration: underline;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Cabin', sans-serif;
  height: 100vh;
}

/*                            Estilização do Body                               */

@import './header';
@import './main';
@import './footer';
